/* DOC CONTAINER */
.step {
  background: white;
  aspect-ratio: 9/16;
  width: auto;
  height: 100%;
  padding: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: none;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}

.active-step {
  display: flex;
}

.doc-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 3fr 1fr;
  gap: 0.5rem;
  align-items: center;
  background-color: #fff;
}

/* HEADER */
.doc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
}

.doc-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--gr-3);
}

.doc-icon {
  width: 32px;
  height: 32px;
}

/* CONTENT */

.doc-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
  padding-top: 1rem;
  align-items: center;
  text-align: center;
}

.doc-example {
  width: 100%;
  background: #f5f5f5;
  padding: 0.5rem;
  font-size: 0.95rem;
  border-radius: 4px;
  color: var(--gr-2);
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center;  */
}

.doc-example img {
  width: 90%;
}

.border-blue {
  border-left: 4px solid #3389dc;
}

.border-green {
  border-left: 4px solid #3ba467;
}

.border-red {
  border-left: 4px solid #842029;
}

.doc-instruction {
  font-size: 1rem;
  color: var(--gr-2);
}

.doc-tag {
  background-color: #e3f2fd;
  color: #1976d2;
  /* padding: 0.15em 0.5em; */
  border-radius: 4px;
  font-family: monospace;
}

/* actions */
.doc-actions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: 0.2s;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn:hover {
  /* opacity: 70%; */
  border: 1px solid grey;
}

.btn-blue {
  background-color: #3389dc;
}

.btn-green {
  background-color: #3ba467;
}

.link {
  font-size: x-small;
}

/* log */

.doc-log p {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
}

.danger {
  display: flex;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  font-size: 0.9rem;
  color: #842029;
}

.preview-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 7fr 2fr;
  gap: 0.5rem;
  align-items: center;
  background-color: #fff;
  color: var(--gr-2);
}

.preview {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem 2rem;
}
